.app__menuitem {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease;
  padding: 0.5rem;
  border-radius: 5px;
}

.app__menuitem:hover {
  transform: translateX(5px);
  background: rgba(220, 202, 135, 0.05);
}

.app__menuitem-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__menuitem-sub {
  width: 100%;
  margin-top: 0.2rem;
}

.app__menuitem-name {
  flex: 1;
}

.app__menuitem-dash {
  width: 90px;
  height: 1px;
  background: var(--color-golden);
  margin: 0 1rem;
}

.app__menuitem-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
